@{
    ViewBag.Title = "Zal Search";
}

<h2>@ViewBag.Message</h2>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Search ITunes", "Create", "ParameterKey")</li>
    <li>@Html.ActionLink("List ITunes Pages", "Index", "Page")</li>
</ul>